<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Site Metas -->
    <title>Blog of Phoenix</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.ico" type="image/x-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/index.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>
<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img class="img-fluid" src="/images/favicon.jpg" width="50px" height="50px" alt=""/>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="#home">Home</a>
                </li>
                {% if session.get('login') == 'true' %}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/account">Account: {{session['nickname']}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" href="#staticBackdrop">Login / Signup</a>
                </li>
                {% endif %}
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link js-scroll-trigger" href="#about">About Us</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link js-scroll-trigger" href="#services">Services</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link js-scroll-trigger" href="#testimonials">Testimonials</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link js-scroll-trigger" href="#blog">Blog</a>-->
                <!--                </li>-->
                <!--                <li class="nav-item">-->
                <!--                    <a class="nav-link js-scroll-trigger" href="#contact">Contect Us</a>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</nav>

<section id="home" class="main-banner">
    <div class="heading">
        <h1>This is Phoenix</h1>
        <p>A professional C# developer who writes programs down-to-earth</p>
        <div style="height: 100px"></div>
        {% if session.get('login') == 'true' %}
        <h1>Hi {{session.get('nickname')}}</h1>
        {% else %}
        <h1>Hi stranger</h1>
        {% endif %}
        <h3 class="cd-headline clip is-full-width">
            <span>Hope you are also a </span>
            <span class="cd-words-wrapper">
                <b class="is-visible">C# Developer</b>
                <b>Java Developer</b>
                <b>Python Developer</b>
            </span>
        </h3>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="login-tab" data-toggle="tab" href="#Login" role="tab"
                           aria-controls="login" aria-selected="true">
                            <h6>Login</h6>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="signup-tab" data-toggle="tab" href="#Signup" role="tab"
                           aria-controls="signup" aria-selected="false">
                            <h6>Signup</h6>
                        </a>
                    </li>
                </ul>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="tab-content border border-top-0" id="myTabContent">
                    <div class="tab-pane fade show active" id="Login" role="tabpanel" aria-labelledby="home-tab">
                        <form class="container">
                            <div class="form-group row">
                                <label class="col-sm-4 col-12" for="loginEmail">Email</label>
                                <input type="email" class="form-control col-sm-7 col-12" name="loginEmail"
                                       id="loginEmail">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-12" for="loginPassword">Password</label>
                                <input type="password" class="form-control col-sm-7 col-12" name="loginPassword"
                                       id="loginPassword">
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane fade" id="Signup" role="tabpanel" aria-labelledby="profile-tab">
                        <form class="container">
                            <div class="form-group row">
                                <label class="col-sm-4 col-12" for="registerEmail">Email</label>
                                <input type="email" class="form-control col-sm-7 col-12" name="registerEmail"
                                       id="registerEmail">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 col-12" for="registerPassword">Password</label>
                                <input type="password" class="form-control col-sm-7 col-12" name="registerPassword"
                                       id="registerPassword">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="sim-btn btn-hover-new" data-dismiss="modal" data-text="Close"><span>Close</span></a>
                <a onclick="loginOrRegister()" class="sim-btn btn-hover-new" data-text="Login / Signup"><span>Login / Signup</span></a>
            </div>
        </div>
    </div>
</div>

<div id="blog" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Blogs</h3>
            <p>A place where Phoenix writes articles</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="uploads/blog-01.jpg" class="img-fluid" alt="post-img"/>
                        <div class="date">
                            <span>06</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2021</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at
                            eget quam. Integer ultricies et magna quis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="uploads/blog-02.jpg" class="img-fluid" alt="post-img"/>
                        <div class="date">
                            <span>06</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2021</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at
                            eget quam. Integer ultricies et magna quis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-lg-4">
                <div class="post-box">
                    <div class="post-thumb">
                        <img src="uploads/blog-03.jpg" class="img-fluid" alt="post-img"/>
                        <div class="date">
                            <span>06</span>
                            <span>Aug</span>
                        </div>
                    </div>
                    <div class="post-info">
                        <h4>Quisque auctor lectus interdum nisl accumsan venenatis.</h4>
                        <ul>
                            <li>by admin</li>
                            <li>Apr 21, 2021</li>
                            <li><a href="#"><b> Comments</b></a></li>
                        </ul>
                        <p>Etiam materials ut mollis tellus, vel posuere nulla. Etiam sit amet massa sodales aliquam at
                            eget quam. Integer ultricies et magna quis.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
</body>
</html>