{% extends 'base.html' %}
{% block content %}
    <div style="height: 70px"></div>
    <div class="container custom-section">
        <div class="row">
            <div class="col-sm-3 col-12">
                <div class="card">
                    <img src="{{ current_account.avatar }}"
                         class="card-img-top mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{ current_account.nickname }}</h5>
                        <p class="card-text">{{ current_account.email }}</p>
                        <hr>
                        <p class="card-text">{{ current_account.profile }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-9 col-12">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                           role="tab"
                           aria-controls="nav-profile" aria-selected="false">Profile</a>
                        <a class="nav-item nav-link" id="nav-activity-tab" data-toggle="tab" href="#nav-activity" role="tab"
                           aria-controls="nav-activity" aria-selected="false">Activity</a>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-profile" role="tabpanel"
                         aria-labelledby="nav-profile-tab">
                        <div class="custom-section">
                            <div class="custom-section-title">
                                <h3>Update profile</h3>
                            </div>
                            <form method="post" enctype="multipart/form-data" class="custom-form">
                                <img src="{{ current_account.avatar }}" id="avatar" class="mx-auto d-block img-thumbnail"
                                     style="height: 250px; width: 250px; margin-bottom: 20px;">
                                <div class="form-group row" style="width: 250px; margin: 20px auto; padding-bottom: 20px;">
                                    <div class="custom-file">
                                        <input onchange="fileChange(this)" type="file" class="custom-file-input"
                                               id="inputGroupFile"
                                               aria-describedby="inputGroupFileAddon">
                                        <label class="custom-file-label" id="filenameLabel" for="inputGroupFile">Choose avatar
                                            image</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputNickname" class="col-sm-2 col-form-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputNickname" value="{{ current_account.nickname }}" placeholder="Your name">
                                        <h4 id="inputNicknameVerification"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{ current_account.email }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="Your password">
                                        <h4 id="inputPasswordVerification"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="confirmPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" class="form-control" id="confirmPassword" placeholder="Repeat your password">
                                        <h4 id="confirmPasswordVerification"></h4>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputProfile" class="col-sm-2 col-form-label">Profile</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="inputProfile" value="{{ current_account.profile }}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <button type="button" class="custom-btn custom-btn-hover"
                                            onclick="updateProfile()">Update Profile
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-activity" role="tabpanel" aria-labelledby="nav-activity-tab">
                        <div class="custom-section">
                            <div class="custom-section-title">
                                <h3>Credit activities</h3>
                            </div>
                            <h3>Current credit: <b>{{ current_account.credit }}</b></h3>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Event</th>
                                    <th scope="col">Credit</th>
                                    <th scope="col">Time</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for activity in credit_activities %}
                                    <tr>
                                        <td>{{ activity.event }}</td>
                                        <td>{{ activity.credit }}</td>
                                        <td>{{ activity.updatetime }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="custom-section">
                            <div class="custom-section-title">
                                <h3>Collection activities</h3>
                            </div>
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Blog</th>
                                    <th scope="col">Time</th>
                                    <th scope="col">Operation</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for activity in collection_activities %}
                                    <tr>
                                        <td><a class="custom-btn custom-btn-hover" href="/blog-article/{{ activity.articleid }}">{{ activity.article }}</a></td>
                                        <td>{{ activity.updatetime }}</td>
                                        <td>
                                            <button class="custom-btn custom-btn-hover" data-text="Cancel collection" onclick="cancelCollection({{ activity.articleid }})">
                                                Cancel collection
                                            </button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/account.js"></script>
{% endblock %}