<div class="col-sm-12 col-md-4 col-lg-4">
    <form class="custom-form">
        <div class="form-group">
            <input class="form-control" id="search" type="text" placeholder="Your search" required="required"
                   data-validation-required-message="Please enter your search.">
            <a onclick="searchArticle()" class="custom-btn custom-btn-hover" data-text="Search"><span>Search</span></a>
        </div>
    </form>
    <div>
        {% for blog in current_page_blogs %}
            <div class="blog-box">
                <div class="blog-thumb">
                    <a href="/blog-article/{{ blog.id }}"><img src="/images/{{ blog.thumb }}" class="img-fluid" alt="blog-img"/></a>

                    <ul class="tag-list">
                        {% for blogType in blog.type.split(',') %}
                            <li class="tag">
                                <span>{{ blogType }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                <div class="blog-info">
                    <h4><a href="/blog-article/{{ blog.id }}">{{ blog.article }}</a></h4>
                    <ul>
                        <li><b>Read: </b>{{ blog.readcount }}</li>
                        <li><b>Reply: </b>{{ blog.replycount }}</li>
                        <li><b>Update: </b>{{ blog.updatetime }}</li>
                    </ul>
                    <p>{{ blog.content | striptags | truncate(120) }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>