{% extends 'base.html' %}
{% block content %}
    <div style="height: 70px"></div>
    <!-- Blog -->
    <div id="blog" class="custom-section blog-section">
        <div class="container">
            <div class="custom-section-title">
                <h3>Blogs</h3>
                <p>A place where Phoenix writes articles</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8">
                    {% for blog in current_page_blogs %}
                        <div class="blog-box">
                            <div class="blog-thumb">
                                <a href="/blog-article/{{ blog.id }}"><img src="{{ blog.thumb }}" class="img-fluid" alt="blog-img"/></a>

                                <ul class="tag-list">
                                    {% for blogType in blog.type.split(',') %}
                                        <li class="tag">
                                            <span>{{ blogType }}</span>
                                        </li>
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="blog-info">
                                <h4><a href="/blog-article/{{ blog.id }}">{{ blog.article }}</a></h4>
                                <ul>
                                    <li><b>Read: </b>{{ blog.readcount }}</li>
                                    <li><b>Reply: </b>{{ blog.replycount }}</li>
                                    <li><b>Update: </b>{{ blog.updatetime }}</li>
                                </ul>
                                <p>{{ blog.content | striptags | truncate(120) }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <nav class="text-center">
                        <ul class="pagination">
                            {% if current_page == 1 %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="/blog/1">pre</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="/blog/{{ current_page - 1 }}">pre</a>
                                </li>
                            {% endif %}

                            {% for i in range(total_page) %}
                                {% if i == current_page - 1 %}
                                    <li class="page-item active">
                                        <a class="page-link" href="/blog/{{ i + 1 }}">{{ i + 1 }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item">
                                        <a class="page-link" href="/blog/{{ i + 1 }}">{{ i + 1 }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if current_page == total_page %}
                                <li class="page-item disabled">
                                    <a class="page-link" tabindex="-1" aria-disabled="true" href="/blog/{{ total_page }}">next</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link" href="/blog/{{ current_page + 1 }}">next</a>
                                </li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>

                {% include 'blog_side.html' %}

            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/blog_side.js"></script>
{% endblock %}