{% extends 'base.html' %}
{% block content %}
    <div style="height: 70px"></div>
    <!-- Blog -->
    <div id="blog" class="custom-section blog-section">
        <div class="container">
            <div class="custom-section-title blog-info">
                <h3>{{ blog_article.article }}</h3>
                <div class="row">
                    <div class="col-sm-12 col-md-4 col-lg-4">
                        <ul>
                            <li><b>Read: </b>{{ blog_article.readcount }}</li>
                            <li><b>Reply: </b>{{ blog_article.replycount }}</li>
                            <li><b>Update: </b>{{ blog_article.updatetime }}</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                        <ul>
                            <h4>Rate: {{ blog_article.rate }}</h4>
                            <li><b>{{ blog_article.ratecount }}</b> ratings</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-2 col-lg-2 text-center">
                        {% if is_rate == True %}
                            <button class="custom-btn custom-btn-hover" id="rateBtn" disabled="true">Rated</button>
                        {% else %}
                            <div class="rating">
                                <input type="radio" id="star5" name="rate" value="100" hidden/>
                                <label for="star5"></label>
                                <input type="radio" id="star4" name="rate" value="80" hidden/>
                                <label for="star4"></label>
                                <input type="radio" id="star3" name="rate" value="60" hidden/>
                                <label for="star3"></label>
                                <input type="radio" id="star2" name="rate" value="40" hidden/>
                                <label for="star2"></label>
                                <input type="radio" id="star1" name="rate" value="20" hidden/>
                                <label for="star1"></label>
                            </div>
                            <button class="custom-btn custom-btn-hover" id="rateBtn" onclick="addRate('{{ blog_article.id }}')">Rate</button>
                        {% endif %}
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 text-center">
                        {% if is_collection == True %}
                            <a class="custom-btn custom-btn-hover" id="collection" onclick="cancelCollection('{{ blog_article.id }}')">Collected</a>
                        {% else %}
                            <a class="custom-btn custom-btn-hover" id="collection" onclick="addCollection('{{ blog_article.id }}')">Collect</a>
                        {% endif %}
                    </div>
                </div>
            </div><!-- end title -->

            <div>
                <div class="blog-info">
                    <p>{{ blog_article.content | safe }}</p>
                </div>
            </div>

            <form class="custom-form">
                <div class="form-group">
                    {% if session.get('login') == 'true' %}
                        <label><b>Nickname: </b>{{ session.get('nickname') }}</label>
                    {% else %}
                        <label><b>Nickname: </b>You are not login</label>
                    {% endif %}
                    <textarea class="form-control" id="commentArea" type="text" placeholder="Your comment" required="required"
                              data-validation-required-message="Please enter your comment."></textarea>
                    {% if session.get('login') == 'true' %}
                        <a class="custom-btn custom-btn-hover text-center" id="comment" onclick="addComment('{{ blog_article.id }}')">Comment</a>
                    {% else %}
                        <a class="custom-btn custom-btn-hover text-center" id="comment" onclick="showModel()">Login / Register</a>
                    {% endif %}
                </div>
            </form>

            <div class="custom-section">
                {% for comment in comment_reply_list %}
                    <div class="row commentList">
                        <div class="col-sm-12 col-md-2 col-lg-2">
                            <img src="{{ comment.avatar }}" class="commentAvatar">
                        </div>
                        <div class="col-sm-12 col-md-10 col-lg-10">
                            <div class="row">
                                <div class="col-sm-12 col-md-3 col-lg-3">
                                    <label><b>Nickname: </b>{{ comment.nickname }}</label>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <label>{{ comment.updatetime }}</label>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5">
                                    <a class="custom-btn custom-btn-hover text-center" data-toggle="collapse" href="#replyComment{{ comment.id }}" role="button"
                                       aria-expanded="false"
                                       aria-controls="replyComment{{ comment.id }}">
                                        Reply
                                    </a>
                                    {% if session.get('email') == 'guoc9@cardiff.ac.uk' or session.get('email') == comment.email %}
                                    {% else %}
                                        <a class="custom-btn custom-btn-hover text-center" onclick="updateOpinion('{{ comment.id }}','agree')">Agree({{ comment.agreecount }})</a>
                                        <a class="custom-btn custom-btn-hover text-center"
                                           onclick="updateOpinion('{{ comment.id }}','disagree')">Disagree({{ comment.disagreecount }})</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div>
                                <h4><b>{{ comment.content }}</b></h4>
                            </div>
                            <div class="collapse" id="replyComment{{ comment.id }}">
                                <form class="custom-form">
                                    <div class="form-group">
                                        {% if session.get('login') == 'true' %}
                                            <label><b>Nickname: </b>{{ session.get('nickname') }}</label>
                                        {% else %}
                                            <label><b>Nickname: </b>You are not login</label>
                                        {% endif %}
                                        <textarea class="form-control" id="replyArea{{ comment.id }}" type="text" placeholder="Your reply" required="required"
                                                  data-validation-required-message="Please enter your comment."></textarea>
                                        {% if session.get('login') == 'true' %}
                                            <a class="custom-btn custom-btn-hover text-center" id="reply" onclick="addReply('{{ blog_article.id }}','{{ comment.id }}')">Reply</a>
                                        {% else %}
                                            <a class="custom-btn custom-btn-hover text-center" id="reply" onclick="showModel()">Login / Register</a>
                                        {% endif %}
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {% for reply in comment.reply_list %}
                        <div class="row replyList">
                            <div class="col-sm-12 col-md-2 col-lg-2">
                                <img src="{{ reply.avatar }}" class="replyAvatar">
                            </div>
                            <div class="col-sm-12 col-md-10 col-lg-10">
                                <div class="row">
                                    <div class="col-sm-12 col-md-3 col-lg-3">
                                        <label><b>{{ reply.nickname }}</b>&nbsp;reply&nbsp;<b>{{ reply.respondent.nickname }}</b></label>
                                    </div>
                                    <div class="col-sm-12 col-md-4 col-lg-4">
                                        <label>{{ reply.updatetime }}</label>
                                    </div>
                                    <div class="col-sm-12 col-md-5 col-lg-5">
                                        <a class="custom-btn custom-btn-hover text-center" data-toggle="collapse" href="#replyComment{{ reply.id }}" role="button"
                                           aria-expanded="false"
                                           aria-controls="replyComment{{ reply.id }}">
                                            Reply
                                        </a>
                                        {% if session.get('email') == 'guoc9@cardiff.ac.uk' or session.get('email') == reply.email %}
                                        {% else %}
                                            <a class="custom-btn custom-btn-hover text-center" onclick="updateOpinion('{{ reply.id }}','agree')">Agree({{ reply.agreecount }})</a>
                                            <a class="custom-btn custom-btn-hover text-center"
                                               onclick="updateOpinion('{{ reply.id }}','disagree')">Disagree({{ reply.disagreecount }})</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div>
                                    <h4><b>{{ reply.content }}</b></h4>
                                </div>
                                <div class="collapse" id="replyComment{{ reply.id }}">
                                    <form class="custom-form">
                                        <div class="form-group">
                                            {% if session.get('login') == 'true' %}
                                                <label><b>Nickname: </b>{{ session.get('nickname') }}</label>
                                            {% else %}
                                                <label><b>Nickname: </b>You are not login</label>
                                            {% endif %}
                                            <textarea class="form-control" id="replyArea{{ reply.id }}" type="text" placeholder="Your reply" required="required"
                                                      data-validation-required-message="Please enter your reply."></textarea>
                                            {% if session.get('login') == 'true' %}
                                                <a class="custom-btn custom-btn-hover text-center" id="reply" onclick="addReply('{{ blog_article.id }}','{{ reply.id }}')">Reply</a>
                                            {% else %}
                                                <a class="custom-btn custom-btn-hover text-center" id="reply" onclick="showModel()">Login / Register</a>
                                            {% endif %}
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/blog_article.js"></script>
{% endblock %}