{% extends 'base.html' %}
{% block content %}
    <!-- Banner -->
    <section id="mainBanner" class="main-banner">
        <div class="heading">
            <h1>This is Phoenix</h1>
            <p>A professional C# developer who writes programs down-to-earth</p>
            <div style="height: 100px"></div>
            {% if session.get('login') == 'true' %}
                <h1>Hi {{ session.get('nickname') }}</h1>
            {% else %}
                <h1>Hi stranger</h1>
            {% endif %}
            <h3 class="cd-headline clip is-full-width">
                <span>Hope you are also a </span>
                <span class="cd-words-wrapper">
                <b class="is-visible">C# Developer</b>
                <b>Java Developer</b>
                <b>Python Developer</b>
            </span>
            </h3>
        </div>
    </section>

    <!-- Blog -->
    <div id="blog" class="custom-section">
        <div class="container">
            <div class="custom-section-title">
                <h3>About Me</h3>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4" align="center">
                    <img src="/images/favicon.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-sm-12 col-md-8 col-lg-8">
                    <h2>Software Development Engineer & IT Project Manager</h2>
                    <hr>
                    <p>Possesses Windows system C/S, B/S software development and deployment capabilities.</p>
                    <p>With million-level project management experience, the entire process of management and control plan design, demand analysis, software development,
                        implementation deployment, delivery and acceptance.</p>
                    <a href="https://github.com/phx13" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/%E7%AD%96-%E9%83%AD-16a1b8179/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/phx47962983" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
                    <a href="http://www.phx.gold/" target="_blank"><i class="fa fa-rss-square fa-2x" aria-hidden="true"></i></a>
                    <a href="/docs/phoenix.pdf" class="custom-btn custom-btn-hover" download="phoenix.pdf"
                       style="float: right;"><i class="fa fa-cloud-download" aria-hidden="true"></i> Download CV</a>
                </div>
            </div><!-- end row -->
        </div>
    </div>

    <!-- Blog -->
    <div id="blog" class="custom-section blog-section">
        <div class="container">
            <div class="custom-section-title">
                <h3><a href="/blog">Blogs</a></h3>
                <p>A place where Phoenix writes articles</p>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-8 row">
                    {% for blog in index_page_blogs %}
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="blog-box">
                                <div class="blog-thumb">
                                    <a href="/blog-article/{{ blog.id }}"><img src="{{ blog.thumb }}" class="img-fluid" alt="blog-img"/></a>

                                    <ul class="tag-list">
                                        {% for blogType in blog.type.split(',') %}
                                            <li class="tag">
                                                <span>{{ blogType }}</span>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="blog-info">
                                    <h4><a href="/blog-article/{{ blog.id }}">{{ blog.article }}</a></h4>
                                    <ul>
                                        <li><b>Read: </b>{{ blog.readcount }}</li>
                                        <li><b>Reply: </b>{{ blog.replycount }}</li>
                                        <li><b>Update: </b>{{ blog.updatetime }}</li>
                                    </ul>
                                    <p>{{ blog.content | striptags | truncate(120) }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% include 'blog_side.html' %}
            </div>
        </div>
    </div>

    <!-- Contact -->
    <div id="contact" class="custom-section contact-section">
        <div class="container">

            <div class="custom-section-title">
                <h3>Contact</h3>
                <p>Welcome to contact me</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="custom-form">
                        <form id="contactForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" id="contactName" type="text" placeholder="Your Name" required="required">
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" id="contactEmail" type="email" placeholder="Your Email" required="required">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <textarea class="form-control" id="contactMessage" placeholder="Your Message" required="required"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                                    <button id="sendMessageButton" class="custom-btn custom-btn-hover" onclick="sendContactEmail(this)"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/index.js"></script>
    <script type="text/javascript" src="/js/blog_side.js"></script>
{% endblock %}