{% extends 'base.html' %}
{% block content %}
    <div style="height: 70px"></div>

    <div class="container custom-section">
        <div class="custom-section-title">
            <h3>Post blog</h3>
            <p>Recording the beauty and moving around</p>
        </div><!-- end title -->

        <div class="row">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <h4>New Blog</h4>
                <a onclick="newBlog()" class="custom-btn custom-btn-hover" data-text="New Blog"><span>New Blog</span></a>
                <hr>
                <h4>Draft Blogs</h4>
                {% for blog in draft_blogs %}
                    <a onclick="loadBlog({{ blog.id }})" class="custom-btn custom-btn-hover" data-text="{{ blog.article }}"><span>{{ blog.article }}</span></a>
                {% endfor %}
                <hr>
                <h4>Publish Blogs</h4>
                {% for blog in publish_blogs %}
                    <a onclick="loadBlog({{ blog.id }})" class="custom-btn custom-btn-hover" data-text="{{ blog.article }}"><span>{{ blog.article }}</span></a>
                {% endfor %}
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10">
                <div id="post-blog">
                    <div class="container">
                        <div class="custom-form">
                            <div class="row">
                                <div class="col-sm-12 col-md-7 col-lg-7">
                                    <h4>Title</h4>
                                    <div id="blogId" style="display: none"></div>
                                    <input id="blogTitle" type="text" class="form-control" placeholder="Blog title">
                                    <h4>Type (Please separate types with ',')</h4>
                                    <input id="blogType" type="text" class="form-control" placeholder="Blog type(s)">
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5">
                                    <img id="thumb" class="rounded mx-auto d-block img-thumbnail" style="height: 128px; margin-bottom: 10px;">
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input onchange="fileChange(this)" type="file" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                                            <label class="custom-file-label" id="filenameLabel" for="inputGroupFile">Choose thumb image</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="custom-section">
                                <script type="text/plain" id="UEditor"></script>
                            </div>

                            <a onclick="postBlog('draft')" class="custom-btn custom-btn-hover" data-text="Draft" id="draftBtn"><span>Draft</span></a>
                            <a onclick="postBlog('publish')" class="custom-btn custom-btn-hover" data-text="Publish" id="publishBtn"><span>Publish</span></a>
                            <a onclick="postBlog('update')" class="custom-btn custom-btn-hover" data-text="Update" id="updateBtn"><span>Update</span></a>
                            <a onclick="deleteBlog()" class="custom-btn custom-btn-hover" data-text="Delete" id="deleteBtn"><span>Delete</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="/ueditor/lang/en/en.js"></script>
    <script type="text/javascript" src="/js/post_blog.js"></script>
{% endblock %}